*{
margin-top:0px;
box-sizing:border-box;
font-family: sans-serif, "Helvetica Neue", "Lucida Grande", Arial;
font-stretch:condensed;
font-style:italic;
margin:0px;
}
.container{
width:100%;
position:absolute;
}
#main{
position:relative;
top:10px;
text-align:center;
font-size:175%;
font-weight:bold;
}
@media (min-width:992px){
body{
background:cyan;
}
.container{
top:25%;
}
.col-lg-4{
float:left;
width:33.3%;
padding:20px;
}
.p1,.p2,.p3{
padding:10px;
}
.cl1,.cl2,.cl3{
border:5px solid black;
padding:10px;
padding-top:0px;
padding-right:0px;
items-align:strech;
background-color:gray;
override:auto;
font-size:100%;
height:250px;
}
.title1,.title2,.title3{
position:relative;
padding:4px;
margin:0px;
border-left:5px solid black;
border-bottom:5px solid black;
fit-content(100%);
font-size:125%;
left:60%;
width:40%;
height:20%;
text-align:center;
font-weight:bold;
}
.title1{
background-color:pink;
}
.title2{
background-color:red;
}
.title3{
background-color:yellow;
}
}
@media (min-width:768px) and (max-width:991px){
body{
background:violet;
}
.container{
top:20%;
}
.col-md-6{
float:left;
width:50%;
padding:10px;
}
.col-md-12{
float:left;
margin:0px;
padding:10px;
width:100%;
}
.p1,.p2,.p3{
padding-right:5px;
}
.cl1,.cl2,.cl3{
background-color:gray;
padding:10px;
padding-top:0px;
padding-right:0px;
font-size:100%;
border:5px solid black;
height:150px;
}

.title1,.title2,.title3{
padding:10px;
position:relative;
border-left:5px solid black;
border-bottom:5px solid black;
left:70%;
width:30%;
font-size:125%;
text-align:center;
font-weight:bold;
}
.title1{
background-color:pink;
}
.title2{
background-color:red;
}
.title3{
left:80%;
background-color:yellow;
width:20%;
}
}
@media (max-width:767px){
body{
background-color:#90EE90;
}
.container{
top:10%;
}
.col-sm-12{
float:left;
margin:opx;
padding:3%;
width:100%;
}
.p1,.p2,.p3{
padding-right:5px;
}
.cl1,.cl2,.cl3{
border:5px solid black;
padding:10px;
padding-top:0px;
padding-right:0px;
font-size:100%;
items-align:strech;
background-color:gray;
override:auto;
height:25%;
}
.title1,.title2,.title3{
position:relative;
padding:4px;
margin:0px;
border-left:5px solid black;
border-bottom:5px solid black;
fit-content(100%);
font-size:125%;
left:60%;
width:40%;
height:20%;
text-align:center;
font-weight:bold;
}
.title1{
background-color:pink;
}
.title2{
background-color:red;
}
.title3{
background-color:yellow;
}
}